.pageContent { width: 100%; margin-top: 30px;}
.accordion { list-style-type: none; padding: 0; margin: 0 0 0px;  border-top: none; border-left: none; }
.accordion > ul { padding: 0; margin: 0; float: left; display: block; width: 100%; }
.accordion > li { background: #F1F1F1; cursor: pointer; list-style-type: none; padding: 0; margin: 0; float: left; display: block; width: 100%; margin-bottom: 7px; font-size: 16px; /*font-family: 'PT Sans', sans-serif;*/ font-weight: normal;}
.accordion > li:last-child{margin-bottom: 35px;}
.accordion > li.active{background-color: #004890;}
.accordion > li.active>a { background: url('close.gif') no-repeat center right; color: #fff;}
.accordion > li a:hover { color: #fff; background-color: #004890;}
.accordion > li a .accordion-icon{ background-image: url('../../images/icons/accordion.png'); width: 16px; height: 16px; display: block; float: right; margin-top: 2px; z-index: 7;}
.accordion > li:hover a .accordion-icon{
	-webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
}
.accordion > li.active a .accordion-icon{background-image: url('../../images/icons/minus-accordion.png'); width: 16px; height: 16px;}
.accordion > li a .title-text{ float: left;}
.accordion > li a .title{/* font-weight: bold;*/}
.accordion > li a span .left-arrow{ background-image: url('../../images/framework/left-arrow.png'); width: 32px; height: 32px; display: block; float: left;}
.accordion > li a span .right-arrow{ background-image: url('../../images/framework/right-arrow.png'); width: 32px; height: 32px; display: block; float: left;}
.accordion > li > div { padding: 10px 0px 5px; background: #fff; display: block; /* Custom add !important */ clear: both; cursor: auto;}
.accordion > li:first-child div.active{display: block !important;}
.accordion > li > div p{ text-align: justify;}
.accordion > li > div ul{background-color: #fff; padding-left: 10px;}
.accordion > li > div > ul > li{margin: 5px 0px;}
.accordion a { text-decoration: none; color: #2B3D5A; padding: 10px 10px; display: block; cursor: pointer; height: 50px; padding-top: 13px;}

/* Level 2 */
.accordion > li ul li { background: #fff; font-size: 15px; }


/* Custom */

.forms-downloads-accordion .accordion > li > div{display: block !important;}
.forms-downloads-accordion .accordion > li a .accordion-icon{background-image: url('../../images/icons/minus-accordion.png');}
